# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log
.maven/

# IDEs
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/
.nb-gradle/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temporary files
*.log
*.tmp
sample.jnlp

# Build & Run Artifacts
.jdk/
setup_output/
build_log.txt
build_log_utf8.txt
RunApp.bat
BuildExe.bat
